<%# <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" %> 
  <table id="customers">
  <tr>
    <th>ProjectName</th>
    <th>Assign Users</th>
  </tr>
 <% @Show_Assgind_Projects.each do |record| %>
  <tr>
    <td><%= record.title %></td>
     <% record.users.each do |user_recod|%>
      <td><%= user_recod.username %></td>
    <% end %>
  </tr>
<% end %>
