<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" %>
<div class="container" style="text-align: center; margin-top:10px;">
<h1> Welcome To Project Management</h1>
<br><br>
<a href="/users/sign_in"><button type="button" class="btn btn-primary" id="#btn_sign">SignIn</button></a>


</div>

